.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}
/* imagem no centro, transparente no container. */

.login-wrap {
    width: 100%;
    margin: 0;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    float: left;
}
/* Imagem a esquerda transparente no container. */

body {
    margin: 0;
    padding: 0;
    background: url(http://localhost/background.png) no-repeat center;
    background-size: cover;
  }
/* No corpo (background) da página,fora do container. */

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background:url(http://localhost/background2.png) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
/* Background somente do container.  */